@using Model.Utils
@using UnitOfWorkNamespace.Models
@model HomeViewModel
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <ul id="users">
        @foreach (var user in Model.Users)
        {
            <li>
                <div class="avatar" style="background-image: url(@user.Avatar)"></div>
                <div class="user-info">
                    <span class="user-name">@user.FirstName @user.Name</span>
                    <br />
                    <span id="user-age">Agé@(user.Sex == Sex.Female ? "e" : "") de @user.Age ans, @(user.Sex == Sex.Female ? "elle" : "il") possède @user.Dogs.Count chien@(user.Dogs.Count > 1 ? "s" : "")</span>
                </div>
                <ul class="dogs">
                    @foreach (var dog in user.Dogs)
                    {

                        <li class="dog">
                            <div class="avatar" style="background-image: url(@dog.Avatar)"></div>
                            <div class="dog-info">
                                Ce chien s'appelle @dog.Name et a @dog.Age ans
                            </div>
                        </li>
                    }
                </ul>

            </li>
        }
    </ul>

</div>

@section scripts{
    <script src="~/Scripts/index.js"></script>
}