@using UnitOfWorkNamespace.Models
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul id="users">
        @foreach (var user in Model.Users)
        {
            <li>
                <div>
                    <span class="glyphicon glyphicon-user"></span>
                    <span id="user-name">@user.Name @user.FirstName</span>
                    <br />
                    <span id="user-age">Agé de @user.Age ans, il possède @user.Dogs.Count chiens</span>
                    <ul id="dogs">
                        @{ var nbDog = 0;}
                        @foreach (var dog in user.Dogs)
                        {
                            
                            {
                                nbDog++;
                            }
                        <li id="dogs">
                                Son chien numéro @nbDog s'appel @dog.Name et à @dog.Age ans <br />
                        </li>
                        }
                    </ul>
                </div>
            </li>
        }
    </ul>
</div>

@section scripts{
    <script src="~/Scripts/index.js"></script>
}